@import "@/styles/variables.scss";
.search-container {
  height: 50px;
  display: flex;
  justify-content: flex-start;
  line-height: 50px;
  margin: 0 10px 0 10px;
  padding-top: 5px;
  width: 90%;
  .search-box {
    display: flex;
    width: 24%;
    span {
      width: 80px;
      flex: 1 0 auto;
      text-align: right;
      font-size: 14px;
    }
    .input {
      flex: 0 1 220px;
    }
  }
  .btn {
    justify-content: right;
  }
}

.search-btn {
  width: 9%;
  position: absolute;
  right: 40px;
  margin-top: -40px;
  text-align: right;
  ::v-deep .el-button {
    border-radius: 12px;
  }
}
.btn-container {
  height: 50px;
  float: right;
  line-height: 50px;
  margin: 5px 20px 20px 0;
  .upload {
    display: inline-block;
    margin: 0 10px;
  }
  ::v-deep .el-button {
    border-radius: 12px;
  }
}

.content-container {
  padding: 20px;
  .page-block {
    text-align: center;
    margin-top: 20px;
  }
  ::v-deep .el-button {
    border: 1px solid $themeColor;
    border-radius: 13px;
    color: $themeColor;
  }
  ::v-deep .el-button.is-circle {
    border-radius: 50%;
    padding: 12px;
    border: 1px solid #DCDFE6;
    color: #606266;
  }
}